

  // background-color: aquamarine;
div{
  img{

  width: 150px;
  margin-top: 4px;
  margin-left: 20px; 
  height: 150px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
 }


.article_info{
   width: fit-content;
   max-width: 50%;
  
  h5{ 
    display: inline-block;
    margin:0 25px 2px;

  }

}
.article_desc{
  // grid-column: span 2;
  // width: 40%;

  display: grid;
  grid-template-rows: auto 1fr; 
  margin-left: 180px;
//  align-items: start;
  p {
    font-size: 12px;
    margin: 0;
    align-self: flex-start;
   
  }
  
}

}
