
  <!-- <div >
    <img src="../../assets/img/meublebois.jpg" >

    <div class="article_info">

    </div> -->

    <!-- <p>  Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Consequ</p> -->
  <!-- </div> -->



<div class="unarticle" style = "background-color: aquamarine;">
  <img src="../../assets/img/bluewall.jpg" >
    <div class="venduPar" style="display: flex; align-items: center;">
      <h5 style="color: #6C6868; margin-right: 5px;"  >vendu par </h5>
      <h5 style="text-decoration:underline; color: #6C6868;" >anthony</h5>
    </div>
    <!-- il faudra remplacer bien entendu par des interpolations {{article.}}-->

    <div class="article_info" style="flex-direction: row; align-items: center; display: flex; max-width: 45%;">
      <h5 class="underline decoration-black" style=" margin-right:5px"><a routerLink="/detailArticle">Armoire</a></h5>
      <h5 class="underline decoration-black">100 €</h5>
    </div>
</div>




<!--- <div id="article5"></div>
<div id="article6"><img src="../../assets/img/bluewall.jpg"></div>
<div id="article7"><img src="../../assets/img/vintage-1781619.svg"></div>
<div id="article8"><img src="../../assets/img/vintage-1781619.svg"></div>
<div id="article9"><img src="../../assets/img/vintage-1781619.svg"></div> -->
