
  <div >
    <img src="../../assets/img/meublebois.jpg" >

    <div class="article_info">
     <h5>Armoire </h5>
    <h5> 100 €</h5>
    </div>
  
    <!-- <p>  Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Consequ</p> -->
  </div>







<!--- <div id="article5"><img src="../../assets/img/vintage-1781619.svg"></div>
<div id="article6"><img src="../../assets/img/bluewall.jpg"></div>
<div id="article7"><img src="../../assets/img/vintage-1781619.svg"></div>
<div id="article8"><img src="../../assets/img/vintage-1781619.svg"></div>
<div id="article9"><img src="../../assets/img/vintage-1781619.svg"></div> -->
