

  // background-color: aquamarine;
.unarticle{

  .title{
    text-decoration: underline;
  }
  .sellBy{
    text-decoration: underline;
    color:black;
  }

  :hover title{
    color: orange;
  }
  img{

  width: 150px;
  margin-top: 4px;
  margin-left: 20px;
  height: 150px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
 }

}



